/* Base Styles */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0A9908;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #029FC5;
  color: #fff;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display:center;
    margin-left:250px;
    margin-right:250px;
    margin-top: 20px;
    margin-bottom: 240px;
    padding: 0;
    
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.title {
    font-size: 36px;
    color: #333;
    animation: fadeInDown 1s;
}

main {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: slideInUp 0.5s;
}

.form-group {
    margin-bottom: 15px;
    animation: fadeIn 1s;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input , select , textarea{
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #4CAF50;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

input[type="submit"]:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

a:hover {
    text-decoration: underline;
    color: #4CAF50;
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInDown {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes slideInUp {
    from { transform: translateY(100%); }
    to { transform: translateY(0); }
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-left: auto;margin-right: auto;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}